h1
{
	text-decoration:underline;
}
table
{
	border:1px solid #EEE;
}
caption
{
	border:1px solid #CCC;
}
thead, tbody, tfoot
{
	border:1px solid #AAA;
}
colgroup
{
	border:1px solid #888;
}
col
{
	border:1px solid #666;
}
tr
{
	border:1px solid #444;
}
td
{
	border:1px solid #222;
}